.homeBackgroud {
 background-color: #f3f4fb;
 background-image: url(../../assets/images/pattern.svg);
 background-repeat: repeat; 
}

.floatingButtons {
  bottom: 100px;
  right: 0;
  height: 80px;
  line-height: 80px;
  width: 23vw;
  background: white;
  border-radius: 50px 0px 0px 50px;
  -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  // height: 50px;
  // width: 50px;
  border: 10px solid white;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
}

@media only screen and (max-width: 767px) {
  .floatingButtons {
    bottom: 0;
    width: 100vw;
    background: white;
    border-radius: 0;
    -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  }
}

.meter { 
    height: 10px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background: rgb(252,96,118);
    background: linear-gradient(90deg, rgba(252,96,118,1) 0%, rgba(233,111,148,1) 76%);
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}



/* DEMO-SPECIFIC STYLES */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}