@font-face {
  font-family: 'portfolio';
  src:  url('../assets/fonts/basic-icon/portfolio.eot?ka0ct0');
  src:  url('../assets/fonts/basic-icon/portfolio.eot?ka0ct0#iefix') format('embedded-opentype'),
    url('../assets/fonts/basic-icon/portfolio.ttf?ka0ct0') format('truetype'),
    url('../assets/fonts/basic-icon/portfolio.woff?ka0ct0') format('woff'),
    url('../assets/fonts/basic-icon/portfolio.svg?ka0ct0#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconflutter .path1:before {
  content: "\e939";
  color: rgb(67, 211, 252);
}
.iconflutter .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(7, 88, 155);
}
.iconflutter .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(251, 251, 251);
}
.iconflutter .path4:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(27, 187, 252);
}
.iconflutter .path5:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(180, 204, 228);
}
.iconnetwork:before {
  content: "\e938";
}
.iconstumbleupon:before {
  content: "\e906";
}
.iconwhatsapp:before {
  content: "\e907";
}
.iconfoursquare:before {
  content: "\e908";
}
.icondropbox:before {
  content: "\e909";
}
.iconskype:before {
  content: "\e90a";
}
.iconspotify:before {
  content: "\e90b";
}
.iconrss:before {
  content: "\e90c";
}
.iconsoundcloud:before {
  content: "\e90d";
}
.iconwattpad:before {
  content: "\e90e";
}
.iconperiscope:before {
  content: "\e90f";
}
.iconfacebook:before {
  content: "\e910";
}
.iconyoutube:before {
  content: "\e911";
}
.iconsnapchat:before {
  content: "\e912";
}
.iconslideshare:before {
  content: "\e913";
}
.iconflickr:before {
  content: "\e914";
}
.icongoogle-plus:before {
  content: "\e915";
}
.iconxing:before {
  content: "\e916";
}
.iconvk:before {
  content: "\e917";
}
.iconkickstarter:before {
  content: "\e918";
}
.iconbehance:before {
  content: "\e919";
}
.iconreddit:before {
  content: "\e91a";
}
.iconvimeo:before {
  content: "\e91b";
}
.iconpinterest:before {
  content: "\e91c";
}
.icontumblr:before {
  content: "\e91d";
}
.iconpicasa:before {
  content: "\e91e";
}
.icontwitch:before {
  content: "\e91f";
}
.iconpath:before {
  content: "\e920";
}
.icondigg:before {
  content: "\e921";
}
.icongithub:before {
  content: "\e922";
}
.iconlastfm:before {
  content: "\e923";
}
.iconforrst:before {
  content: "\e924";
}
.iconbebo:before {
  content: "\e925";
}
.iconswarm:before {
  content: "\e926";
}
.iconhangout:before {
  content: "\e927";
}
.iconinstagram:before {
  content: "\e928";
}
.icondelicious:before {
  content: "\e929";
}
.iconmyspace:before {
  content: "\e92a";
}
.icondribbble:before {
  content: "\e92b";
}
.iconblogger:before {
  content: "\e92c";
}
.iconyelp:before {
  content: "\e92d";
}
.icontelegram:before {
  content: "\e92e";
}
.icondeviantart:before {
  content: "\e92f";
}
.icontwitter:before {
  content: "\e930";
}
.iconyahoo:before {
  content: "\e931";
}
.icongoogle-drive:before {
  content: "\e932";
}
.iconhtml:before {
  content: "\e933";
}
.iconvine:before {
  content: "\e934";
}
.iconlinkedin:before {
  content: "\e935";
}
.iconteam-viewer:before {
  content: "\e936";
}
.iconenvato:before {
  content: "\e937";
}
.iconoffice:before {
  content: "\e902";
}
.iconbackpack:before {
  content: "\e903";
}
.iconuniversity:before {
  content: "\e904";
}
.iconschool:before {
  content: "\e905";
}
.iconleft-arrow-angle:before {
  content: "\e900";
}
.iconright-arrow-angle:before {
  content: "\e901";
}
