body {
    .colorRed {
        color: #f05e7b;
    }

    .colorVoilet {
        color: #071e46;
    }

    .colorGrey {
        color: #b1b4c4;
    }

    .colorDarkGrey {
        color: #3e4459;
    }

    .colorWhite {
        color: white;
    }

    .bg-white-theme {
        background-color: #fff;
        background-image: url(../assets/images/pattern-transparent.svg);
        background-repeat: repeat; 
    }

    .homeBackgroud {
        background-color: #f3f4fb;
        background-image: url(../assets/images/pattern.svg);
        background-repeat: repeat; 
    }
    .bg-grey-theme {
        background-color: #e9e9ec;
    }
}

body.dark-mode {
    .colorRed {
        color: #f05e7b;
    }

    .homeBackgroud {
        background-color: #121212;
        background-image: none;
    }

    .colorVoilet {
        color: #fff;
    }

    .bg-grey-theme {
        background-color: #121212;
    }

    .colorGrey {
        color: #000;
    }

    .colorDarkGrey {
        color: #3e4459;
    }

    .colorWhite {
        color: #000;
    }

    .bg-white-theme {
        background-color: #1F1A24;
        background-image: none;
    }
}