.colorRed {
    color: #f05e7b;
}

.colorVoilet {
    color: #071e46;
}

.colorGrey {
    color: #b1b4c4;
}

.colorDarkGrey {
    color: #3e4459;
}

.colorWhite {
    color: white;
}

.bg-white {
    background-color: #fff;
    background-image: url(../assets/images/pattern-transparent.svg);
    background-repeat: repeat; 
}