@import "./bootstrap/_index.scss";
@import "./_colors.scss";
@import "./utils.scss";
@import "./_fonts.scss";
@import "./_button.scss";
@import "./_devicon.scss";
@import "./_animate.scss";
@import "./_basicIcon";
@import "./_VerticalTimeline";
@import "./_VerticalTimelineElement";

body {
  margin: 0;
  font-family: "Montserrat-regular",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

// Styles set when in dark mode
body.dark-mode {
  background-color: #232323;
  color: #dfdfdf;

  .navbar {
    background-color: #1a1919;
  }

  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: #ffffff;
    }
  }
}