@import "./bootstrap/_index.scss";
@import "./_colors.scss";
@import "./utils.scss";
@import "./_fonts.scss";
@import "./_button.scss";
@import "./_devicon.scss";
@import "./_animate.scss";
@import "./_basicIcon";
@import "./_VerticalTimeline";
@import "./_VerticalTimelineElement";

body {
  margin: 0;
  font-family: "Montserrat-regular",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
